<% if user_signed_in? %>

<h1>Users</h1>
</br>

<table class="table table-dark table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>SNS</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
      <tr>
        <td><%= link_to friend.first_name + ' ' + friend.last_name, friend, class:'text-white'%></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.sns %></td>
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm'%></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Friend', new_friend_path, class: "btn btn-light" %>

<% else %>

<%= render 'home/main' %>

<% end %>
